
.createAccount-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px; 
  margin: auto;
  padding: 20px; 
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.createAccount-container h3 {
  margin-bottom: 15px; 
  font-size: 24px; 
  color: #343a40;
  text-align: center;
}


.createAccount-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
}


.createAccount-container label {
  display: block;
  margin-bottom: 3px; 
  color: #495057;
  font-weight: bold;
}

.createAccount-container input[type="text"],
.createAccount-container input[type="password"] {
  width: calc(100% - 20px);
  padding: 8px; 
  margin-bottom: 10px; 
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-sizing: border-box;
}


.createAccount-container .role-section {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  margin-bottom: 10px; 
}

.createAccount-container .role-section label {
  margin-right: 10px;
}

.createAccount-container .role-section input[type="radio"] {
  margin-right: 5px;
}


.createAccount-container .radio-group {
  margin-bottom: 5px; 
}


.createAccount-container input[type="submit"] {
  padding: 8px 16px; 
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  align-self: center;
}

.createAccount-container input[type="submit"]:hover {
  background-color: #0056b3;
}